@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

h1,
h2,
h3 {
  color: #e0e0e0;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  flex: 1;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

form input,
form textarea,
form select {
  padding: 0px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
}

form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
  height: 30px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}
.login-form-container form {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

br {
  content: "";
  display: block;
  width: 100%;
  background-color: #45a049;
  height: 1px;
}

.login-form-container a {
  text-decoration: none;
  color: #4caf50;
}
.login-form-container a:visited {
  color: #4caf50;
}
.login-form-container a:hover {
  text-decoration: underline;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}
.fields {
  width: 20%;
}

.form-input {
  padding: 0px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
}

.form-textarea {
  width: 100%;
  height: 5rem;
  background-color: #333;
  color: #e0e0e0;
  border: none;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.yes {
  background-color: rgb(56, 142, 60);
  color: white;
}

.yes:hover {
  background-color: rgb(47, 127, 51);
}

.no {
  background-color: rgb(211, 47, 47);
  color: white;
}

.no:hover {
  background-color: rgb(183, 28, 28);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #333;
  color: #e0e0e0;
}

table th {
  background-color: #333;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #e0e0e0;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #555;
  color: #e0e0e0;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.footer {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #333;
  flex-shrink: 0;
  margin-top: 10px;
}

.footer p {
  margin: 0;
  color: #e0e0e0;
}

.footer a {
  margin-right: 15px;
  color: #4caf50;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.home {
  text-align: center;
  padding: 50px 20px;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 40px;
}

.home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.about,
.contact {
  text-align: center;
  margin-bottom: 40px;
}

.about h2,
.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p,
.contact p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact a {
  color: #4caf50;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.add-category {
  display: flex;
  align-items: center;
}

.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="text"] {
    width: 50%;
  }
  input[type="number"] {
    width: 10%;
  }
  input[type="file"] {
    width: fit-content;
  }

  textarea {
    width: 50%;
    height: 10rem;
  }
}

textarea {
  resize: none;
}

.number-input {
  width: 5rem;
}

.form-file-input {
  display: flex;
  flex-direction: column;
}

.file-upload {
  display: none;
}

.custom-file-upload {
  border: 1px solid #333;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #333;
  color: #e0e0e0;
  border-radius: 4px;
}
